.PopularBrands{
    background-color: #fff;
    max-width: 1180px;
    border-radius: 10px;

}

.IconsWrapper{
    display: flex;
    li{
        list-style: none;
    }
}
.Icons{
    padding: 30px 0;
}
.PopularBrand{
    padding-top: 30px;
}