.input{
    padding: 8px 12px;
    border: 1px solid #E0E5EB;
    max-width: 115px;
    height: 36px;
    border-radius: 5px;
    outline: none;
}
.inputWrapper{
    display: flex;
    flex-direction: column;
}
.inputsWrapper{
    display: flex;
    gap: 10px;
}
.input[type=number]::-webkit-outer-spin-button,
.input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}