.TextWrapper{
    display: flex;
    justify-content: space-between;
}
.block{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 280px;
    margin-top: 16px;
}

.MainText{
    font-size: 18px;
}
.icon{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.caretDownIcon {
    transition: all 0.2s ease-in-out;
    transform: rotate(0);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.translate {
    transform: rotate(180deg);
}