.MainText{
    font-size: 28px;
}
.numProduct{
    font-size: 15px;
    color: #8C8C8C;
}
.mainTextwrapper{
    display: flex;
    gap: 12px;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 20px;
}