.swiper-wrapper{
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
.BannerWrapper{
  padding-top: 20px;
}
.swiper{
  padding-bottom: 50px;
}
.swiper-pagination-bullet-active{
  background: #FA8C16;
}
.swiper-pagination-bullet{
  background: #FA8C16;
}
