.Footer{
    background-color: #121212;
}
.TopFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.MiddleFooter{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.BottomFooter{
    color: #8C8C8C;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.hr{
    color: white;
    opacity: 10%;
}