.inputWrapper{
    background-color: #fff; 
    display: flex; 
    justify-content: space-around;
    align-items: center;
    border-radius: 5px; 
    height: 36px; 
    max-width: 240px;
    
    padding: 8px 12px;
    border: 1px solid #E0E5EB;
}
.SearchIcon{
    background-color: #fff;
}
.searchInput{
    outline: none; 
    border: none; 
    border-radius: 5px;
    width: 220px;
}
.block{
    margin-top: 16px;
}
.Items{
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    height: 194px;
}
.input{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #BFBFBF;
    border-radius: 5px;
    appearance: none; /* Убирает стандартный стиль */
    -webkit-appearance: none;
    -moz-appearance: none;
}
.input:checked{
    background-color: #FA8C16;
    border-color: #FA8C16;
}
.input:checked:after{
    content: '✓';
    display: block;
    text-align: center;
    color: white;
}
.chekboxWrapper{
    display: flex;
    gap: 8px;
    padding-top: 10px;
}
.Items::-webkit-scrollbar{
    width: 4px;
}
.Items::-webkit-scrollbar-track{
    background: #e5e9ed;
}
.Items::-webkit-scrollbar-thumb{
    background-color: #b8bfc4; /* Цвет ползунка */
    border-radius: 10px; /* Скругленные края ползунка */
    border: 2px solid #e5e9ed; /* Цвет обводки ползунка */
}