.login_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 80px;
    height: 40px;
  }
  
  .login_button img {
    width: 20px;
    height: 20px;
  }
  
  .login_button span {
    font-family: 'Roboto', sans-serif; /* Применяем шрифт Roboto */
    font-size: 14px;
  }