.card{
    background-color: #fff;
    width: 280px;
    height: 300px;
    border-radius: 10px;
}
.cardText{
    padding: 0 30px;
}

.Img{
    position: relative;
    width: 280px;
    height: 140px;
}
.date{
    font-size: 11px;
    color: #8C8C8C;
}
.title{
    font-size: 18px;
    width: 240px;
}
.description{
    font-size: 15px;
    color: #8C8C8C;
    width: 240px;
}